/* Empty. Add your own CSS if you like */

.sides {
  background-color:#cccccc;
  background-size: auto;
}

.bluetooth-off {
  font-size: 32px;
  color : red;
}

.bluetooth-pending {
  font-size: 32px;
  color : yellow;
}

.bluetooth-on {
  font-size: 32px;
  color : green;
}

/* go crazy */

.container {
    background: #f8f8f8;
}

a {
    text-decoration: none;
}
/* the HEAD stuffs */
 .head {
    overflow: auto;
    padding: 10px;
    background: #e0f4ff;
    font-size: 1em;
    color: #b9becd;
}

.head #connection {
    display: inline;
    float: right;
    vertical-align: bottom;
    text-align: bottom;
    position: right fixed;
    width: 110px;
    height: 110px;
    background: url("http://flaticons.net/gd/makefg.php?i=icons/Network%20and%20Security/Bluetooth.png&r=216&g=117&b=117") no-repeat;
    background-size: 100px;
    vertical-align:text-bottom;
}

.head #logo {
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 100%;
}
.head h1 {
    margin: 15px 0 5px;
    font-weight: 1200;
    font-size: 3em;
    color: #5e6d81;
}

.head h2 {
    margin: 0px 0 0px;
    font-weight: 100;
    font-size: 0.8em;
    color: #bcb9b9;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #e0f4ff, 0 0 0 #000, 1px 4px 6px #e0f4ff;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

li {
    list-style:none;
    float:left;
    margin:10px;
}
.button-small {
    color: #fff !important;
    word-spacing: 0.25em;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    line-height: 22px;
    padding: 12px 13px 11px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
}
.button-small:visited {
    color: #fff;
}
.button-small {
    padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
}
.button-small:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    -webkit-box-shadow:inset 0 10px 20px rgba(255, 255, 255, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.10);
    box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.10);
}
.button-small:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3), inset 0 10px 20px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3), inset 0 10px 20px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3), inset 0 10px 20px rgba(0, 0, 0, 0.08);
}
.green_dark {
    background: #4B701D;
}
/* the FOOT stuffs */
 .foot {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
[class^="footItem"] {
    display: inline-block;
    width: 33.333333%;
    padding: 15px 0 15px 0px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    font-size: 1.1em;
}
[class^="footItem"] span {
    display: inline-block;
    font-size: 1.6em;
    margin-bottom: 0px;
    color: #fff;
}
.footItem1 {
    background: #57BE85;
}
.footItem2 {
    background: #D87575;
}
.footItem3 {
    background: #7BCED7;
}


div[back-img]{
    width: 100px;
    height: 100px;
    color: #ccc;
}