body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.sides {
  background-color:#cccccc;
  background-size: auto;
}

/* custom icons */
.bluetooth-off {
  font-size: 32px;
  color : red;
}

.bluetooth-pending {
  font-size: 32px;
  color : yellow;
}

.bluetooth-on {
  font-size: 32px;
  color : green;
}

.big-icon {
  font-size: 64px;
  color : red;
}

/* go crazy */

.container {
    background: #f8f8f8;
}

a {
    text-decoration: none;
}
/* the HEAD stuffs */
 .head {
    overflow: auto;
    padding: 10px;
    background: #e0f4ff;
    font-size: 1em;
    color: #b9becd;
}

.head #connection {
    display: inline;
    float: right;
    vertical-align: bottom;
    text-align: bottom;
    position: right fixed;
    width: 110px;
    height: 110px;
    background: url("http://flaticons.net/gd/makefg.php?i=icons/Network%20and%20Security/Bluetooth.png&r=216&g=117&b=117") no-repeat;
    background-size: 100px;
    vertical-align:text-bottom;
}

.head #logo {
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 100%;
}
.head h1 {
    margin: 15px 0 5px;
    font-weight: 1200;
    font-size: 3em;
    color: #5e6d81;
}

.head h2 {
    margin: 0px 0 0px;
    font-weight: 100;
    font-size: 1.0em;
    color: #bcb9b9;
}

.head h3 {
    margin: 0px 0 0px;
    font-weight: 100;
    font-size: 0.8em;
    color: #bcb9b9;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #e0f4ff, 0 0 0 #000, 1px 4px 6px #e0f4ff;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

li {
    list-style:none;
    float:left;
    margin:10px;
}


div[back-img]{
    width: 100px;
    height: 100px;
    color: #ccc;
}