<div ng-init="plant=plants[$location.path().slice(-1)]">
  <ion-nav-buttons side="right">
    <icon class="icon ion-bluetooth bluetooth-off"></icon>
  </ion-nav-buttons>
  <ion-view title={{plant.title}}>
    <ion-content class="has-header">
      <div class="head">
        <div id="logo" back-img="img/plants/{{plant.title}}.jpg"></div>
        <h1 class="inset-text" id="head_name">{{plant.title}}</h1>
        <h2 class="inset-text" id="sName">Scientific name: {{plant.title}}</h2>
        <h3>{{plant.description}}</h3>
      </div>
      <div id="stats">
        <icon class="icon ion-thermometer big-icon"></icon>
        <h1>10 {{temperature}}</h1>
        <icon class="icon ion-ios7-sunny big-icon"></icon>
        <h1>16 {{light}}</h1>
        <icon class="icon ion-waterdrop big-icon"></icon>
        <h1>19 {{moisture}}</h1>
      </div>
      <li>Needs: water temperature light
        <input type="text" value="75" class="dial">
      </li>

      <button class="button button-full button-positive">Grow this plant</button>
    </ion-content>
  </ion-view>
</div>
