<div ng-init="plant=plants[$location.path().slice(-1)]">
  <ion-nav-buttons side="right">
    <icon class="icon ion-bluetooth custom-icon"></icon>
  </ion-nav-buttons>
    <ion-view title={{plant.title}}>
      <ion-content class="has-header">
        <div class="head">
          <div id="connection"></div>
          <div id ="logo" back-img="http://{{plant.title}}.jpg.to" ></div>
          <h1 class="inset-text" id="head_name">{{ plant.title }}</h1>
          <h2>{{ plant.description }}</h2>
        </div>
	       <li>Needs:
	       10 water
	       20 temperature
	       19 light
	       </li>
        <button class="button button-full button-positive">Grow this plant</button>
      </ion-content>
    </ion-view>
</div>

