<div>
  <ion-view id="title" title="My plant - and it's health">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" ng-controller="MyController">
	 <div side="right" class="button button-icon ion-bluetooth big-icon" title="'newPlant'" ng-click="scan()"></div>
  </ion-nav-buttons>
      <ion-content class="has-header">
        <div class="head">
          <div id ="logo" back-img="img/plants/{{plant.title}}.jpg" ></div>
          <h1 class="inset-text" id="head_name">{{plant.title}}</h1>
          <h2 class="inset-text" id="sName">Scientific name: {{plant.scientific}}</h2>
          <h3>{{plant.description}}</h3>
        </div>
	<h3>My {{plant.title}} has the following status:</h3>
        <div id="stats">
		  <div>
		    <h1><icon class="icon ion-thermometer big-icon-red"></icon> {{plant.temperature}}&degC</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-ios7-lightbulb big-icon-yellow"></icon> {{plant.light}}</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-waterdrop big-icon-blue"></icon> {{plant.water}}%</h1>
		  </div>
		</div>
		<h3>My {{plant.title}} should have the following status:</h3>
        <div id="stats">
		  <div>
		    <h1><icon class="icon ion-thermometer big-icon-red"></icon> {{received.temperature}}&degC</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-ios7-lightbulb big-icon-yellow"></icon> {{received.light}}</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-waterdrop big-icon-blue"></icon> {{received.water}}%</h1>
		  </div>
		</div>
      </ion-content>
    </ion-view>
</div>

<script>

bluetooth.initialize();
    bluetooth.onMessage(data);

ionic.DomUtil.ready(function(){
  // Change bar text
  angular.element(document.querySelector('#title')).text('Ready');
  });

</script>
