<div>
  <ion-nav-buttons side="right">
    <icon class="icon ion-bluetooth bluetooth-off"></icon>
  </ion-nav-buttons>
    <ion-view id="title" title="My plant - and it's health">
      <ion-content class="has-header">
        <div class="head">
          <div id ="logo" back-img="img/plants/{{plant.title}}.jpg" ></div>
          <h1 class="inset-text" id="head_name">{{plant.title}}</h1>
		   <h2 class="inset-text" id="sName">Scientific name: {{plant.title}}</h2>
          <h3>{{plant.description}}</h3>
        </div>
		<div id="stats">
		  <div>
		    <h1><icon class="icon ion-thermometer big-icon-red"></icon> 25{{temperature}}</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-ios7-lightbulb big-icon-yellow"></icon> 25{{light}}</h1>
		  </div>
		  <div>
		    <h1><icon class="icon ion-waterdrop big-icon-blue"></icon> 25{{moisture}}</h1>
		  </div>
		</div>
      </ion-content>
    </ion-view>
</div>

<script>

bluetooth.initialize();
    bluetooth.onMessage(data);

ionic.DomUtil.ready(function(){
  // Change bar text
  angular.element(document.querySelector('#title')).text('Ready');
  });

</script>