/* generic selectors */
body {
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

/* pseudo classes */
.head {
    overflow: auto;
    padding: 10px;
    background: #e0f4ff;
    font-size: 1em;
    color: #b9becd;
}

.header #bluetoothStatus {
    display: inline;
    float: right;
    vertical-align: bottom;
    text-align: bottom;
    position: right fixed;
    width: 110px;
    height: 110px;
    background: url("../assets/bluetoothOff.png") no-repeat;
    background-size: 100px;
    vertical-align:text-bottom;
}

.header #logo {
    display: block;
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 20px;
    background: url("../assets/logo.jpg") no-repeat;
    background-size: 160px;
    border-radius: 100%;
}

.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #e0f4ff, 0 0 0 #000, 1px 4px 6px #e0f4ff;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/* ID's */
#container
{
	margin: 0 auto;
	width: 600px;
	background:#fff;
}

#datetime {
	margin: 15px;
	text-align: right;
	font-size: 0.8em;
}



/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}